* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.orta {
  width: 90%;
  display: flex;
}

.section1 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./picture/crypto-card-hero-bgs.png);
}
.section1 header {
  margin: 0 auto;
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.section1 header .text--1 {
  display: none;
}
.section1 header .text--1 h1 {
  font-size: 17px;
}
.section1 header .demos {
  width: 48%;
  display: flex;
}
.section1 header .demos ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section1 header .demos ul li {
  list-style: none;
}
.section1 header .demos ul li a {
  text-decoration: none;
  color: white;
}
.section1 header .button1 {
  display: none;
}
.section1 header .button button {
  width: 150px;
  background-color: #13111a;
  color: white;
  border-radius: 20px;
  padding: 10px;
  outline: 0;
  cursor: pointer;
}
.section1 .all {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section1 .left {
  width: 40%;
  display: flex;
  margin: 40px 0px;
  flex-direction: column;
  justify-content: end;
}
.section1 .left .start {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}
.section1 .left .start .how {
  display: flex;
  align-items: center;
  gap: 20px;
}
.section1 .left .start button {
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}
.section1 .left .start h1 {
  color: white;
}
.section1 .left .start i {
  font-size: 40px;
  color: white;
}
.section1 .left .text1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.section1 .left .text1 h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.075em;
}
.section1 .left .text1 h2 {
  color: white;
  font-size: 19px;
}
.section1 .right {
  width: 40%;
  display: flex;
  justify-content: end;
  margin-top: 30px;
}
.section1 .right .orta-2 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 58px;
}
.section1 .right .orta-2 .picture {
  width: 40%;
}
.section1 .right .orta-2 .picture img {
  width: 353px;
  transform: rotate(11deg);
}
.section1 .right .orta-2 .picture1 {
  width: 40%;
}
.section1 .right .orta-2 .picture1 img {
  width: 353px;
  transform: rotate(-6deg);
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.section2 .up {
  width: 90%;
  margin-top: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 40px;
}
.section2 .up .one h1 {
  font-size: 80px;
  color: white;
}
.section2 .up .one span {
  font-size: 20px;
  color: white;
}
.section2 .up .two h1 {
  font-size: 80px;
  color: white;
}
.section2 .up .two span {
  font-size: 20px;
  color: white;
}
.section2 .up .three h1 {
  font-size: 80px;
  color: white;
}
.section2 .up .three span {
  font-size: 20px;
  color: white;
}
.section2 .up .four h1 {
  font-size: 80px;
  color: white;
}
.section2 .up .four span {
  font-size: 20px;
  color: white;
}
.section2 .up-1 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 100px;
}
.section2 .up-1 .img {
  width: 40%;
}
.section2 .up-1 .img img {
  width: 100%;
}
.section2 .up-1 .text {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section2 .up-1 h1 {
  color: white;
  font-size: 50px;
}
.section2 .up-1 p {
  color: white;
  font-size: 20px;
}
.section2 .up-1 span {
  font-size: 20px;
  color: white;
}

.section3 {
  width: 100%;
  display: flex;
  background-color: #000000;
}
.section3 .orta-4 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}
.section3 .orta-4 .left-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section3 .orta-4 .left-1 h1 {
  font-size: 80px;
  color: white;
}
.section3 .orta-4 .left-1 p {
  font-size: 28px;
  color: white;
}
.section3 .orta-4 .left-1 .svg-1 {
  display: flex;
}
.section3 .orta-4 .left-1 .svg-1 h1 {
  font-size: 17px;
}
.section3 .orta-4 .left-1 .svg-2 {
  display: flex;
}
.section3 .orta-4 .left-1 .svg-2 h1 {
  font-size: 17px;
}
.section3 .orta-4 .left-1 .svg-3 {
  display: flex;
}
.section3 .orta-4 .left-1 .svg-3 h1 {
  font-size: 17px;
}

.section4 {
  width: 100%;
  display: flex;
  background-color: black;
}
.section4 .orta-5 {
  width: 54%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 50px;
}
.section4 .orta-5 h1 {
  font-size: 71px;
  color: white;
}
.section4 .orta-5 span {
  font-size: 25px;
  color: white;
}

.section5 {
  width: 100%;
  display: flex;
  background-color: black;
}
.section5 .orta-6 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 70px;
}
.section5 .orta-6 .svg-1 {
  width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.section5 .orta-6 .svg-1 .svg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #724fe5;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5 .orta-6 .svg-1 h1 {
  color: white;
  font-style: 26px;
}

.section6 {
  width: 100%;
  display: flex;
  background-color: black;
}
.section6 .orta-7 {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section7 {
  width: 100%;
  background-color: #00e0b8;
}
.section7 .orta-8 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  gap: 30px;
}
.section7 .orta-8 .buy-1 {
  width: 27%;
  display: flex;
  align-items: center;
}
.section7 .orta-8 .buy-2 {
  width: 27%;
  display: flex;
  align-items: center;
}
.section7 .orta-8 .buy-3 {
  width: 27%;
  display: flex;
  align-items: center;
}

.section8 {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: black;
}
.section8 .orta-9 {
  width: 71%;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 90px;
}
.section8 .text {
  width: 57%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.section8 .text h1 {
  color: white;
  font-size: 60px;
}
.section8 .text span {
  color: white;
  font-size: 20px;
}

.section9 {
  width: 128vw;
  display: flex;
  background-color: #000000;
}
.section9 .orta-10 {
  width: 90%;
  display: flex;
  gap: 25px;
  margin-bottom: 100px;
}
.section9 .orta-10 .one {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #13111a;
  border-radius: 7px;
  gap: 10px;
  padding: 22px;
}
.section9 .orta-10 .one h1 {
  font-size: 29px;
  color: white;
  font-weight: 600;
}
.section9 .orta-10 .one span {
  font-size: 26px;
  color: white;
}
.section9 .orta-10 .one .one-1 {
  display: flex;
  gap: 10px;
}
.section9 .orta-10 .one .one-1 img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section9 .orta-10 .one .one-1 .text--1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section9 .orta-10 .one .one-1 .text--1 h2 {
  color: white;
}
.section9 .orta-10 .one .one-1 .text--1 span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 19px;
}
.section9 .orta-10 .one .one-1 .text--1 h1 {
  font-size: 20px;
  color: white;
  font-weight: 100;
}

.section10 {
  width: 100%;
  display: flex;
  background-color: #000000;
}
.section10 .orta-11 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 100px;
}
.section10 .orta-11 .left {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section10 .orta-11 .left h1 {
  color: white;
  font-size: 57px;
}
.section10 .orta-11 .left span,
.section10 .orta-11 .left p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
}
.section10 .orta-11 .left .button-1 button {
  width: 190px;
  background-color: #724fe5;
  border-radius: 30px;
  height: 55px;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 17px;
}
.section10 .orta-11 .right {
  width: 40%;
  animation: firlan 8s ease-in infinite;
}
@keyframes firlan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.section10 .orta-11 .right img {
  width: 100%;
}

.section11 {
  width: 100%;
  display: flex;
  background-color: #000000;
}
.section11 .orta-12 {
  width: 90%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-image: url("https://mthemeus.com/demos/wp/zuzu/wp-content/uploads/2023/02/cta-bg.png");
}
.section11 .orta-12 .left {
  width: 40%;
}
.section11 .orta-12 .left img {
  transform: translateY(-100px);
}
.section11 .orta-12 .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section11 .orta-12 .right .text-1 h1 {
  font-size: 54px;
  color: white;
}
.section11 .orta-12 .right .text-1 span {
  color: #CACEE1;
}
.section11 .orta-12 .right .top {
  display: flex;
  gap: 10px;
}
.section11 .orta-12 .right .top .app img {
  width: 176px;
}
.section11 .orta-12 .right .top .play img {
  width: 189px;
}

.section12 {
  width: 100%;
  background-color: #000000;
}
.section12 .orta-13 {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.section12 .orta-13 .one {
  width: 20%;
}
.section12 .orta-13 .one h1 {
  color: #999999;
  font-size: 17px;
}
.section12 .orta-13 .one .icon {
  gap: 27px;
  width: 100%;
  display: flex;
}
.section12 .orta-13 .one .icon i {
  color: white;
  border-radius: 50%;
  gap: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.section12 .orta-13 .two {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section12 .orta-13 .two h1 {
  color: white;
  font-size: 22px;
}
.section12 .orta-13 .two ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.section12 .orta-13 .two li {
  gap: 10px;
}
.section12 .orta-13 .two li a {
  color: #999999;
}
.section12 .three {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section12 .three h1 {
  color: white;
  font-size: 20px;
}
.section12 .three span {
  color: #999999;
}
.section12 .three .input {
  background-color: white;
  height: 50px;
  border-radius: 25px;
  padding: 14px;
  width: 300px;
  display: flex;
  align-items: center;
}
.section12 .three .input input {
  border: none;
}
.section12 .three .input button {
  background-color: #6C64CE;
  color: WHITE;
  border: none;
  border-radius: 25px;
  width: 138px;
  padding: 10px;
  cursor: pointer;
}

@media (min-width: 400px) and (max-width: 767px) {
  .section10 .orta-11 {
    align-items: center;
  }
  .section10 .orta-11 .right {
    width: 100%;
  }
  .section1 {
    background-image: url(./picture/400-700.png);
  }
  .section1 header .demos, .section1 header .button, .section1 header .text--1 {
    display: none;
  }
  .section1 header .button1 {
    width: 20%;
    display: flex !important;
  }
  .section1 header .button1 i {
    color: white;
  }
  .section1 .all {
    margin: 0 auto;
    flex-direction: column;
  }
  .section1 .all .left {
    width: 100%;
  }
  .section1 .all .left .text1 {
    width: 100%;
  }
  .section1 .all .left .text1 h1 {
    font-size: 43px;
  }
  .section1 .all .left .text1 h2 {
    font-weight: 100;
    color: white;
    font-size: 16px;
  }
  .section1 .all .left .start {
    flex-direction: column;
  }
  .section1 .all .left .start button {
    width: 75%;
  }
  .section1 .all .left .start .how {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .section1 .all .right {
    width: 100%;
  }
  .section1 .all .right .orta-2 {
    width: 100%;
    gap: 20px !important;
    margin-bottom: 100px !important;
  }
  .section1 .all .right .orta-2 .picture img {
    transform: rotate(0deg) !important;
  }
  .section1 .all .right .orta-2 .picture1 img {
    transform: rotate(0deg) !important;
  }
  .section2 .up {
    flex-direction: column !important;
    gap: 20px;
  }
  .section2 .up-1 {
    width: 100%;
    flex-direction: column;
  }
  .section2 .up-1 .img {
    width: 100%;
  }
  .section2 .up-1 .text {
    width: 100%;
  }
  .section2 .up-1 .text h1 {
    font-size: 36px;
  }
  .section3 .orta-4 {
    flex-direction: column !important;
  }
  .section3 .orta-4 .left-1 h1 {
    font-size: 36px;
  }
  .section3 .orta-4 .left-1 p {
    font-size: 18px;
  }
  .section3 .orta-4 .rigt-1 img {
    width: 370px;
  }
  .section4 .orta-5 {
    width: 100%;
  }
  .section4 .orta-5 h1 {
    font-size: 35px;
  }
  .section4 .orta-5 span {
    font-size: 21px;
  }
  .section5 .orta-6 {
    flex-direction: column;
  }
  .section5 .orta-6 .svg-1 {
    width: 100%;
    margin-bottom: 35px;
  }
  .section6 .orta-7 img {
    width: 100%;
  }
  .section7 .orta-8 .buy-1 {
    width: 100%;
    flex-direction: column-reverse;
    margin-top: 30px;
    gap: 14px;
    margin-bottom: 30px;
  }
  .section7 .orta-8 .buy-2, .section7 .orta-8 .buy-3 {
    display: none;
  }
  .section8 .orta-9 {
    width: 93%;
  }
  .section8 .orta-9 .text {
    width: 100%;
  }
  .section8 .orta-9 .text h1 {
    font-size: 36px;
  }
  .section8 .orta-9 .text span {
    font-size: 28px;
  }
  .section9 {
    width: 100%;
  }
  .section9 .orta-10 {
    flex-wrap: wrap;
  }
  .section9 .orta-10 .one {
    width: 84%;
    margin-left: 43px;
  }
  .section9 .orta-10 .one:not(:nth-child(1)) {
    display: none;
  }
  .section10 .orta-11 {
    flex-direction: column-reverse;
  }
  .section10 .orta-11 .left {
    width: 100%;
  }
  .section10 .orta-11 .left h1 {
    font-size: 38px;
  }
  .section10 .orta-11 .left span {
    font-size: 18px;
  }
  .section10 .orta-11 .left .button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section11 {
    background-color: #295F50;
  }
  .section11 .orta-12 {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */